################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/praktikadis/.vs/praktikadis/FileContentIndex/417ffb40-6212-4a02-be2e-3b606f7c0202.vsidx
