################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/praktikadis/.vs/praktikadis/FileContentIndex/417ffb40-6212-4a02-be2e-3b606f7c0202.vsidx
/praktikadis/.vs/praktikadis/FileContentIndex/b380cdac-c9cf-47c1-91ff-7742e1427e07.vsidx
