################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/praktikadis/.vs/praktikadis/FileContentIndex/417ffb40-6212-4a02-be2e-3b606f7c0202.vsidx
/praktikadis/.vs/praktikadis/FileContentIndex/b380cdac-c9cf-47c1-91ff-7742e1427e07.vsidx
/praktikadis/.vs/praktikadis/FileContentIndex/b8ffd20b-db37-435c-af34-11a997bb1336.vsidx
/praktikadis/.vs/praktikadis/FileContentIndex/c3c111d3-1316-4ab8-9e28-4bb889fc4d04.vsidx
